.styleOfTextMsg{
	/*background:#a0a0a0;*/
	width: 810px;
	height: 465px;
	padding:10px;
	position:relative;
	left:0px;
	/*font-family:"Open Sans", sans-serif;*/
	color:#78c8e6;
	float: left;
}
#character{
	padding:10px;
	background:#DDDDDD;
	width:380px;
	height:440px;

	float: left;
}
#basicMsg{
	padding:10px;
	background:#DDDDDD;
	width:380px;
	height:440px;
	
	position:relative;
	left:10px;
	
	float: left;
}
#imgContaienr{
	width:40%;
	height:35%;
	
	float: right;
}
#btnprev {
	background: url(/MyServer/Resume/p/btnLeft.png) no-repeat 0 0;
	z-index: 2;

	position: absolute;
	top: 225px;
	left: 0;

	width: 34px;
	height: 100px;

	cursor: pointer;
}
#btnnext {
	background: url(/MyServer/Resume/p/btnRight.png) no-repeat 0 0;
	z-index: 2;

	position: absolute;
	top: 225px;
	right: 0;

	width: 34px;
	height: 100px;

	cursor: pointer;
}
.styleOfChart{
	background: #333333;
	width:360px;
	height:205px;
	
	position: relative;
	top: -50px;
}
.textType0{
	margin: 5px 5px;
	background:#ffffff;
	width:35%;
}
.textType1{
	margin: 5px 5px;
	background:#ffffff;
	width:55%;
}
.textType2{
	margin: 5px 5px;
	background:#ffffff;
	width:65%;
}
.describeText{
	background:#ffffff;
	width:100%;
	height:35%;
	line-height:100%;
	overflow: hidden;
}