.home-langList{
	background: #FFFFFF;
	/*#06A7FF*/
	width: 30%;
	height: 31px;
	line-height:31px;
	margin-top:11.625px;
	margin-bottom:11.625px;
	padding-left:5px;
	float: right;
	
	cursor: pointer;
}
#home-langmsgWindow{
	background: #FFFFFF;
	width: 61.8%;
	height: 441.75px;
	margin-top:11.625px;
	margin-left:5%;
	margin-right:2%;
	float: right;
}