.home-langList {
	background: #FFFFFF;
	color: #000000;
	/*#06A7FF*/
	width: 30%;
	height: 31px;
	line-height: 31px;
	
	margin-top: 11.625px;
	margin-bottom: 11.625px;
	padding-left: 5px;
	
	position:relative;
	
	float: left;
	cursor: pointer;
	
	transition:background 1s;
	-moz-transition: background 1s;	/* Firefox 4 */
	-webkit-transition: background 1s;	/* Safari 和 Chrome */
	-o-transition: background 1s;
}
#home-langmsgWindow {
	background: #FFFFFF;
	color:#FFFFFF;
	width: 55.8%;
	height: 401.75px;
	margin-top: 11.625px;
	margin-right: 20px;
	padding-left:3%;
	padding-right:3%;
	padding-top:10px;
	padding-bottom:20px;
	float: right;
	
	transition:background 1.5s;
	-moz-transition: background 1.5s;	/* Firefox 4 */
	-webkit-transition: background 1.5s;	/* Safari 和 Chrome */
	-o-transition: background 1.5s;
}