body{
	margin:0 auto;
	font-size:20px;
	font-family: "Microsoft YaHei","微软雅黑", SimHei, helvetica, arial, verdana, tahoma, sans-serif;
}
#headerBg{
	margin:0 auto;
	background:#241F1F;
	width: 100%;
	height: 30px;
	line-height:30px;
}
#headerBgText{
	background:none;
	margin:1px auto;
	width:850px;
	height:100%;
	
	color:#FFFFFF;
	font-size:15px;
}
#headerTitle{
	margin: 0 auto;
	width: 850px;
	
	color:#555555;
}